# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
.env

# Pytest cache
.pytest_cache/

# Test data (if any temporary files are created)
temp_data/

Logs
*.log

IDE files
.vscode/
.idea/

report.html
users.json